main {
  margin-top: -85vh;
  display: flex;
  flex-direction: column;
}

main h2 {
  text-align: center;
  margin-left: 200px;
}

main table {
  margin-left: 320px;
  border-collapse: collapse;
  width: 70%;
}

main td,
th {
  border: 1px solid #e5e5e5;
  text-align: left;
  padding: 8px;
}

main form input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
}

label {
  color: #8a8a8a;
  font-size: 18px;
  padding: 5px;
}

.btn-primary button {
  background-color: #8a8a8a;
  color: black;
  height: 30px;
  width: 70px;
  border: none;
  cursor: pointer;
}

.btn-primary button:hover {
  background-color: #009688;
  color: white;
  cursor: pointer;
}