main {
  margin-top: -85vh;
  display: flex;
  flex-direction: column;
}

main h2 {
  text-align: center;
  margin-left: 200px;
}

main table {
  margin-left: 320px;
  border-collapse: collapse;
  width: 70%;
}

main table td,
th {
  border: 1px solid #e5e5e5;
  text-align: left;
  padding: 8px;
}

.tbl-full table tr th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.spam button {
  background-color: #ff4757;
  color: white;
  height: 30px;
  width: 70px;
  border: none;
  cursor: pointer;
}

.claim button {
  background-color: #009688;
  color: white;
  height: 30px;
  width: 70px;
  border: none;
  cursor: pointer;
}

.success {
  color: #2ed573;
}

.error {
  color: #ff4757;
}
.items {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.product {
  position: relative;
  width: 230px;
  height: 100%;
  box-shadow: 0 5px 5px #8a8a8a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px 20px;
  border-radius: 10px;
  transition: 0.3s;
  text-align: center;
  place-content: center;

}
.product:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 5px #8a8a8a;
  border: 1px solid #009688;

}
.product h3 {
  text-align: center;
  padding: 10px 0 5px 0;
}
