@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header section*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 13px 50px 13px 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(bg.jpeg);
}

.menu {
  cursor: pointer;
  color: white;
  float: right;
}

.logo img {
  width: 135px;
  cursor: pointer;
  margin-left: -90px;
}

.search form {
  display: flex;
  border: 0;
  height: 45px;
}

.search input {
  width: 600px;
  padding: 10px;
  border: 0;
  height: 100%;
}

input:focus {
  outline: none;
  border: 1px solid white;
}

.search button {
  height: 100%;
  width: 60px;
  border: none;
  background-color: #e5e5e5;
}

.search button:hover {
  background-color: #009688;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.search .material-icons:hover {
  color: white;
}

.icons-right .material-icons {
  color: white;
  padding: 0 15px;
}

.menu .material-icons:hover,
.icons-right .material-icons:hover {
  color: #009688;
  cursor: pointer;
}

/* Sidebar */
.side-bar {
  background-color: #009688;
  overflow: hidden;
  text-decoration: none;
}

.nav {
  height: 85vh;
  width: 18%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #009688;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
  color: white;
}

.nav-link:hover {
  color: #009688;
  background-color: #e5e5e5;
  cursor: pointer;
}

.nav-link span {
  margin-left: 10px;
}

.active {
  background: #e5e5e5;
  color: #009688;
}

#nav-toggle {
  display: none;
}

#nav-toggle:checked + .side-bar {
  width: 70px;
}

#nav-toggle:checked ~ header {
  width: calc(100%-70px);
  left: 70px;
}

@media (max-width: 768px) {
  .side-bar {
    display: 70px;
  }

  header {
    width: calc(100%-70px);
    left: 70px;
  }

  .search {
    display: none;
  }
}

@media (max-width: 900px) {
  .search input {
    width: 25rem;
  }
}
